.modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  // transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
  .body-modal {
    width: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 6px;
    overflow: auto;
    z-index: 9999;
  }
}