.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--rmd-color-secondary-tint);
  padding: 10px;

  &.select {
    background-color: #FFFF;
    i {
      color: var(--rmd-color-secondary);
    }
  }
  &:focus, &:hover {
    outline: none;
    border-radius: 4px;
  }
  i {
    color: var(--rmd-color-medium);

  }
}