.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .item-menu {
    width: 20%;
    height: 100vh;
    position: relative;
  }
  .item-router {
    width: calc(100% - 15%);
  }
}