.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .item-menu {
    width: 16%;
    height: 100vh;
    position: relative;
  }
  .item-router {
    transition: all 1s ease-in;
    width: calc(100% - 16%);
  }
}