<div class="container-products">
  <div class="products">
    <div class="items-search">
      <label class="input-group" for="search">
        <button class="btn">
          <i class="fas fa-search"></i>
        </button>
        <input type="text" id="search" placeholder="Search a list" autocomplete="off" autofocus="off">
      </label>
      <div class="icons-action">
        <ifarm-button-select-option (onSelectId)="onSelectId($event)"></ifarm-button-select-option>
      </div>
    </div>
    <ifarm-button-add (onAddNewItem)="onAddNewItem()"></ifarm-button-add>
    <div class="list-items">
     <div class="cards-list">
      <ifarm-card-list id="card" (drop)="drop($event)" (allowDrop)="allowDrop($event)" (drapStart)="drapStart($event)"></ifarm-card-list>
      
     </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<ifarm-modal *ngIf="showModalAddNewItem" (onCloseModal)="closeBackDrop($event)">
  <ifarm-form-new-item (closeForm)="closeBackDrop($event)"></ifarm-form-new-item>
</ifarm-modal>
