<div class="container-products">
  <div class="products">
    <div class="items-search">
      <label class="input-group" for="search">
        <button class="btn">
          <i class="fas fa-search"></i>
        </button>
        <input type="text" id="search" placeholder="Search a list" autocomplete="off" autofocus="off">
      </label>
      <div class="icons-action">
        <ifarm-button-select-option (onSelectId)="onSelectId($event)"></ifarm-button-select-option>
      </div>
    </div>
    <ifarm-button-add (onAddNewItem)="onAddNewItem()"></ifarm-button-add>

    <div class="list-items">
      <ifarm-card-list></ifarm-card-list>
    </div>
    
  </div>
  <router-outlet></router-outlet>
</div>
