@import '../../assets/styles/mixis.scss';


.container-products {
  display: flex;
  overflow: hidden;
  .products {
    width: 25%;
    height: 100vh;
    padding: 0 10px;
    background-color: var(--rmd-color-light);
    .items-search {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      .input-group {
        height: 30px;
        width: 90%;
        border-radius: 5px;
        border: 1px solid var(--rmd-color-medium);
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 10px;
        .btn {
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: var(--rmd-color-secondary-tint);
          &:focus {
            outline: none;
          }
          i {
            color: var(--rmd-color-medium);
          }
        }
        input {
          width: 100%;
          color: var(--text-color);
          margin: 5px;
          border: none;
          &::placeholder {
            color: var(--rmd-color-medium);
          }
          &:focus {
            outline: none;
          }
        }
      }
      .icons-action {
        margin-top: 10px;
      }
    }
    .list-items {
      height: calc(100% - 200px);
      overflow-y: auto;
      margin: 10px 0;
      @include scrollStyle();
      .cards-list {
        padding: 5px 0;
        margin-right: 5px;
        #card {
          padding: 5px;
          &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 15px;
            background-color: #FFF;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container-products {
    flex-direction: row;
    .products {
      width: 50%;
    }
  }
}