<div class="products">
  <div class="items-search">
    <label class="input-group" for="search">
      <button class="btn">
        <i class="fas fa-search"></i>
      </button>
      <input type="text" id="search" placeholder="Search a list" autocomplete="off" autofocus="off">
    </label>
    <div class="icons-action">
      <button class="btn">
        <i class="fas fa-th-list"></i>
      </button>
      <button class="btn">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <app-button-add></app-button-add>
</div>


<router-outlet></router-outlet>
