<div class="dnd-card" [id]="itemCard.id" 
  [ngClass]="{'selected': itemCard.selectedCard }"
  [draggable]="itemCard.selectedCard || selectArea"
  (dragstart)="onDragstart.emit($event)" >
  <div class="dnd-header-action">
   <div class="show-action">
      <button class="btn" (mouseover)="onDraggable()">
        <i class="fas fa-grip-vertical"></i>
      </button>
      <input type="checkbox" [id]="itemCard.idSelected" [(ngModel)]="itemCard.selectedCard">
   </div>
  </div>
  <div class="dnd-body">
    <p class="title-dnd-body">{{ itemCard.productTitle }}</p>
    <img [src]="itemCard.productPath" [alt]="itemCard.productTitle">
    <span class="dnd-body-cash">{{ itemCard.productValue }}</span>
  </div>
</div>