<div class="btn card-list">
  <div class="card-header">
    <h3>My vitamins</h3>
    <button class="btn">
      <i class="fas fa-ellipsis-h"></i>
    </button>
  </div>

  <div class="card-total">
    <span class="title-total">Total</span>
    <span class="cash-total">$123.00</span>
  </div>

  <div class="card-list-image">
    
    <div class="list-images" [ngClass]="{'loader': isLoader }">
      <div class="card-loader" *ngIf="!isLoader" (drop)="drop.emit($event)" (dragover)="allowDrop.emit($event)">
        <div class="drag" *ngFor="let item of lista">
          <img [src]="item.path" [alt]="item.id">
        </div>
      </div>
    </div>

    <div class="item-plus">
      <span>+5</span>
    </div>
  </div>

</div>