.card-list {
  border: 2px solid var(--rmd-color-light-tint);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  .card-header, .card-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .card-header {
    h3 {
      font-size: 15px;
      color: var(--text-color);
    }
    button {
      i {
        color: var(--rmd-color-light-tint);
      }
    }
  }

  .card-total {
    border-bottom: 2px solid var(--rmd-color-light-tint);
    .title-total {
      color: var(--rmd-color-light-tint);
      font-weight: 550;
    }
    .cash-total {
      font-size: 14px;
      color: var(--text-color);
    }
  }
  .card-list-image {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    .list-images {
      width: 100%;
      display: flex;
      border: 2px solid transparent;
      &.loader {
        border: 6px solid var(--rmd-color-light-loader);
        border-radius: 50%;
        border-top: 6px solid var(--rmd-color-secondary);
        width: 20px;
        height: 20px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      .card-loader {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding: 0 5px;     
        .drag > img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .item-plus {
      width: 40px;
      height: 30px;
      background-color: var(--blue-transparent);
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      span {
        font-size: 14px;
        font-weight: bold;
        color: var(--rmd-color-secondary);
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}