:root {
  --rmd-color-primary: #4c78d3;
  --rmd-color-primary-shade: #436aba;
  --rmd-color-primary-tint: #5e86d7;

  --rmd-color-secondary: #0eaff9;
  --rmd-color-secondary-shade: #0e91b9;
  --rmd-color-secondary-tint: #26b7fa;

  --rmd-color-tertiary: #5260ff;
  --rmd-color-tertiary-rgb: 82,96,255;
  --rmd-color-tertiary-shade: #4854e0;
  --rmd-color-tertiary-tint: #6370ff;

  --rmd-color-success: #2dd36f;
  --rmd-color-success-shade: #28ba62;
  --rmd-color-success-tint: #42d77d;

  --rmd-color-warning: #ffc409;
  --rmd-color-warning-shade: #e0ac08;
  --rmd-color-warning-tint: #ffca22;

  --rmd-color-danger: #eb445a;
  --rmd-color-danger-shade: #cf3c4f;
  --rmd-color-danger-tint: #ed576b;

  --rmd-color-dark: #222428;
  --rmd-color-dark-shade: #1e2023;
  --rmd-color-dark-tint: #383a3e;

  --rmd-color-medium: #92949c;
  --rmd-color-medium-shade: #808289;
  --rmd-color-medium-tint: #9d9fa6;

  --rmd-color-light: #f4f5f8;
  --rmd-color-light-shade: #f1f3f5;
  --rmd-color-light-tint: #c2c3c5;
  --rmd-color-light-loader: #eaeaec;
    
  --rmd-text-primary: #f8f8fa8a;
  --text-color: #333;
  --blue-transparent: #0eaef91c;
}